/* Carga de las fuentes de la home */
/*---------------------------------*/
/*---------------------------------*/

@font-face {
  font-family: "Kameron";
  src: url("../fonts/Kameron/Kameron-Bold.ttf") format("trueType");
  font-display: swap;
}

@font-face {
  font-family: "Lobster Two";
  src: url("../fonts/Lobster_Two/LobsterTwo-Regular.ttf") format("trueType");
  font-display: swap;
}

@font-face {
  font-family: "Just Me Again Down Here";
  src: url("../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf")
    format("trueType");
}

@font-face {
  font-family: "Tilt Prism";
  src: url("../fonts/Tilt_Prism/static/TiltPrism-Regular.ttf")
      format("trueType"),
    url("../fonts/Tilt_Prism/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf")
      format("trueType");
}

/* Reset de los estilos CSS */
/*-------------------------*/
/*-------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declaracion de variable */
/*-------------------------*/
/*-------------------------*/

:root {
  --color-header: #6cb95a;
  --color-banner: #7cc6f0;
  --color-footer: #1e1e1e;
  --color-texto: hsl(0, 0%, 100%);
  --color-body:#cbec0c;
}

body {
  background-image: url(D:\CODOACODO\BACK\proyecto\assets\personas-tomando-cerveza.png);
  background-repeat: repeat-y;
  background-size: cover ;
  background-attachment: scroll;
  overflow-x: hidden;
  
  
}

.toggle-menu {
  position: absolute;
  right: 50px;
}

.toggle-menu img{
  width: 50px;
  height: 50px;
  display: none;
}

.header {
  background: var(--color-header);
  padding: 20px;
  margin-bottom: 20px;
}

.logo h1 {
  font-family: "Tilt Prism";
  font-weight: bold;
}

.logo p{
  font-family: 'Kameron';
  font-size: 1.5rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.main-menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-menu__link{
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-footer);
  margin: 0px 20px;
  font-weight: 700;
  font-family: 'Lobster Two';
}

.logo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 50px;
  height: 50px;
}





/* Apartir de acá footer de la home */
/*----------------------------------*/
/*----------------------------------*/
